# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.iml
*.log

# Android
android/.gradle/
android/local.properties
android/captures/
**/android/app/google-services.json

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift

# Misc
*.log
*.lock